body {
    background-image: url("/images/sunflowers.jpg");
    background-color: #cccccc;
   }
.background-container {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



